nodered/flows.json
[
  {
    "id": "flow-main",
    "type": "tab",
    "label": "MQTT → InfluxDB",
    "disabled": false,
    "info": "Fluxo principal: recebe dados MQTT do Colab/ESP32 e persiste no InfluxDB 2.x"
  },
  {
    "id": "node-mqtt-in",
    "type": "mqtt in",
    "z": "flow-main",
    "name": "MQTT — sensores/#",
    "topic": "sensores/#",
    "qos": "0",
    "datatype": "auto-detect",
    "broker": "config-mqtt-broker",
    "nl": false,
    "rap": false,
    "rh": 0,
    "inputs": 0,
    "x": 150,
    "y": 120,
    "wires": [["node-json-parse"]]
  },
  {
    "id": "node-json-parse",
    "type": "json",
    "z": "flow-main",
    "name": "Parse JSON",
    "property": "payload",
    "action": "obj",
    "pretty": false,
    "x": 340,
    "y": 120,
    "wires": [["node-fn-format"]]
  },
  {
    "id": "node-fn-format",
    "type": "function",
    "z": "flow-main",
    "name": "Formatar para InfluxDB",
    "func": "// Payload esperado (do Colab ou ESP32):\n// { \"sensor_id\": \"s1\", \"temperatura\": 25.5, \"umidade\": 65.2, ... }\n// ou { \"temperatura\": 25.5 } (sem sensor_id)\n\nconst payload = msg.payload;\n\nif (typeof payload !== 'object' || payload === null) {\n    node.warn('Payload inválido: ' + JSON.stringify(payload));\n    return null;\n}\n\n// Campos que NÃO são métricas numéricas\nconst SKIP_FIELDS = ['sensor_id', 'device_id', 'timestamp', 'ts'];\n\n// Tag de identificação do sensor\nconst sensorId = String(payload.sensor_id || payload.device_id || 's1');\n\n// Monta fields como NÚMEROS (não strings!)\nconst fields = {};\nfor (const [key, val] of Object.entries(payload)) {\n    if (SKIP_FIELDS.includes(key)) continue;\n    const num = parseFloat(val);\n    if (!isNaN(num)) {\n        fields[key] = num;  // garantido numérico\n    }\n}\n\nif (Object.keys(fields).length === 0) {\n    node.warn('Nenhum campo numérico encontrado: ' + JSON.stringify(payload));\n    return null;\n}\n\n// Formato esperado pelo node-red-contrib-influxdb (v2)\nmsg.payload = [\n    {\n        measurement: 'sensores',\n        tags: {\n            sensor_id: sensorId\n        },\n        fields: fields,\n        timestamp: new Date()\n    }\n];\n\nnode.log('Enviando ao InfluxDB: sensor=' + sensorId + ' fields=' + JSON.stringify(fields));\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 560,
    "y": 120,
    "wires": [["node-influx-out", "node-debug"]]
  },
  {
    "id": "node-influx-out",
    "type": "influxdb out",
    "z": "flow-main",
    "influxdb": "config-influxdb",
    "name": "InfluxDB — sensores",
    "measurement": "sensores",
    "precision": "ms",
    "retentionPolicy": "",
    "database": "FATEC",
    "precisionV18FluxV2": "ms",
    "retentionPolicyV18Flux": "",
    "org": "FATEC",
    "bucket": "FATEC",
    "x": 790,
    "y": 100,
    "wires": []
  },
  {
    "id": "node-debug",
    "type": "debug",
    "z": "flow-main",
    "name": "Debug",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 790,
    "y": 160,
    "wires": []
  },
  {
    "id": "config-mqtt-broker",
    "type": "mqtt-broker",
    "name": "Mosquitto Local",
    "broker": "mqtt",
    "port": "1883",
    "clientid": "nodered-client",
    "autoConnect": true,
    "usetls": false,
    "protocolVersion": "4",
    "keepalive": "60",
    "cleansession": true,
    "autoUnsubscribe": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthRetain": "false",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closeRetain": "false",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willRetain": "false",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  },
  {
    "id": "config-influxdb",
    "type": "influxdb",
    "hostname": "influxdb",
    "port": "8086",
    "protocol": "http",
    "database": "FATEC",
    "name": "InfluxDB FATEC",
    "usetls": false,
    "tls": "",
    "influxdbVersion": "2.0",
    "url": "http://influxdb:8086",
    "rejectUnauthorized": false,
    "token": "Ju-y99EX_FWketmNuXTQKUAS75mfxf0BI7XUXgYxTenjrHX7zNRMTJlkwhwEgUyATF23EG0G7A1pTHyitLOIVQ=="
  }
]
